@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  scroll-behavior: smooth;
}

body {
  background-color: #121212;
}

.ContainerMain {
  width: auto;
  height: 100vh;
  background-image: linear-gradient(
      0deg,
      rgba(18, 18, 18, 1) 0%,
      rgba(18, 18, 18, 0) 75%
    ),
    url("../assets/image/main-bg.png");
  background-repeat: no-repeat;
  z-index: 0;
}

.navbar {
  width: 100%;
  height: 50px;
  position: fixed;
  color: white;
  z-index: 3;
  background: rgb(18, 18, 18);
  background: linear-gradient(
    180deg,
    rgba(18, 18, 18, 1) 0%,
    rgba(18, 18, 18, 0) 90%
  );
}

.navbar > img {
  width: 40px;
  height: 40px;
  padding: 12px 0px 0px 12px;
}

.nav {
  float: right;
  display: flex;
  padding-top: 15px;
}

.navbar > ul {
  float: right;
}

.navbar ul li {
  font-size: 14px;
  text-decoration: none;
  list-style-type: none;
  padding-right: 25px;
  color: #f1f1f1;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
}

.navbar ul li a:hover {
  text-decoration: none;
  color: #4149df;
}

.button-1 {
  background-color: #4149df;
  border-radius: 14px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  margin-top: 20px;
  margin-right: 20px;
  outline: none;
  padding: 10px 16px;
  position: relative;
  transition: color 100ms;
  vertical-align: baseline;
}

.button-1:hover {
  background-color: #2a31a7;
}

.button-1:active {
  background-color: #2a31a7;
  transform: translateY(4px);
}

.button-2 {
  background-color: transparent;
  border-radius: 14px;
  border: 1px solid white;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  margin-top: 20px;
  margin-right: 20px;
  outline: none;
  padding: 10px 16px;
  position: relative;
  transition: color 100ms;
  vertical-align: baseline;
}

.button-2:hover {
  background-color: #4b4a4a;
}
.button-2:active {
  background-color: #4b4a4a;
  transform: translateY(4px);
}

.info {
  margin-bottom: 100px;
  color: white;
  width: 650px;
  padding-top: 10pc;
  padding-left: 60px;
}

.info h1 {
  font-size: 65px;
}

.movie-desc {
  margin-top: 10px;
  font-size: 16px;
  color: #aaaaaa;
}

.movie-duration {
  margin-top: 20px;
}

.see-more a {
  z-index: 5;
  display: flex;
  text-decoration: none;
  float: right;
  margin-right: 20px;
  margin-top: 12px;
  color: white;
}

.see-more a:hover{
  color: #4149df;
}

.kumpulanjuara {
  padding-left: 67px;
}

.baruditambahkan {
  padding-left: 67px;
}

.rekomendasi {
  padding-left: 67px;
}

h2 {
  color: white;
}

.mySlides {
  position: relative;
}

.mySlides h2 {
  color: white;
}

.mySlides p {
  color: white;
}

.movie-view-thumbnail {
  overflow-x: hidden;
  display: flex;
}

.movie-view-thumbnail2 {
  overflow-x: hidden;
  display: flex;
}

.movie-view-thumbnail3 {
  overflow-x: hidden;
  display: flex;
}

.movie-view1 {
  position: relative;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.movie-view1 img {
  width: 400px;
  height: 220px;
  border-radius: 25px;
  margin-right: 25px;
  position: relative;
}

.text-movie-view1 p{
  color: grey;
  font-size: 14px;
}

.movie-view2 {
  position: relative;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.movie-view2 img {
  height: 350px;
  width: 250px;
  border-radius: 25px;
  margin-right: 25px;
  position: relative;
  object-fit: cover;
}

.footer {
  height: 60vh;
  color: white;
  margin: 100px 0px 0px 0px;
}

.footer2 ul > li > span,
.footer3 ul > li > span {
  color: #92989f;
}

.footer-up {
  height: 300px;
  display: flex;
  justify-content: space-around;
}

.footer1 {
  padding: 0px 50px 0px 50px;
  /* float: left; */
  margin-left: 5%;
  position: relative;
  width: 60%;
}

.footer li {
  text-decoration: none;
  list-style-type: none;
  margin: 0px 0px 15px 0px;
}

.footer1 span {
  width: 30px;
  height: 30px;
  /* float: left; */
}

.footer1 img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.footer2 {
  /* float: left; */
  position: relative;
  width: 20%;
}

.footer3 {
  /* float: left; */
  position: relative;
  width: 30%;
  margin-left: 150px;
}

.footer-bottom {
  text-align: center;
  height: 50px;
}

.footer-bottom p{
  color: grey;
}
